ENV=dev
LOG_LEVEL=DEBUG
APP_NAME=catalog-api
APP_VERSION=0.1.0

DATABASE_URL=postgresql+asyncpg://catalog:catalog@db:5432/catalog
TEST_DATABASE_URL=postgresql+asyncpg://catalog:catalog@db-test:5432/catalog_test
